#card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
  }

body {
    background-color: rgb(151, 156, 158);
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #0e0e0f;
    font-family: Tahoma;
    font-size: 16px;
}

