.card {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: 10px;
    background-color: #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.703);

  } 

.card img  {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.703);
  }
